
    
            <h3> parts List </h3>
            <table class="table table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">category</th>
                        <th scope="col">brand</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% parts.forEach((part)=>{%>
                        <tr>
                          <td><%=part.p_id%></td>
                          <td><%=part.category%></td>
                          <td><%=part.price%></td>
                          <td><%=part.code%></td>
                          <td><%=part.manufactor%></td>
                          <td><%=part.color%></td>
                          <td><%=part.availability%></td>
                          
                         


                          <td><img src="/images/<%=part.image%>" style="width:100px;height:100px"/></td>
                           
                          <td>
                            <a class="btn btn-primary" href="/parts/edit/<%=part.p_id%>">Edit</a>
                            <a class="btn btn-danger" href="/parts/delete/<%=part.p_id%>">Delete</a>
                          </td>
                        </tr>
                      <%})%>
                    </tbody>
                  </table>
          
        
      