<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <table class="table table-striped table-hovered table-inverse table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>Email</th>
                <th>Address</th>
                <th>phone</th>
                <th>gender</th>
                <th>User Name</th>
                <th>Password</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% speaker.forEach((speaker)=>{ %>

            <tr>
                <td>
                    <%=speaker.u_id%>
                </td>
                <td>
                    <%=speaker.name%>
                </td>
                <td>
                    <%=speaker.email%>
                </td>
                <td>
                    <%=speaker.address%>
                </td>
                <td>
                    <%=speaker.phone%>
                </td>
                <td>
                    <%=speaker.gender%>
                </td>
                <td>
                    <%=speaker.user_name%>
                </td>
                <td>
                    <%=speaker.password%>
                </td>
                <td><img src="/images/<%=speaker.image%>" style="width:100px;height:100px" alt=""></td>

                <td><a name="" id="" class="btn btn-primary" href="/users/edit/<%=speaker.u_id%>" role="button">Edit  </a>
                     <a name="" id="" class="btn btn-danger" href="/users/delete/<%=speaker.u_id%>" role="button">Delete</a>
                </td>
            </tr>
            <% })%>


        </tbody>
    </table>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>